@use '../../styles/variables.scss' as *;

.cmp-input {
    position: relative;
    color: $text;

    &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $bg;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $color-primary;
        transition: $transition-duration--fast;
    }

    &:hover,
    &:active,
    &:focus,
    &:focus-within {
        &::after {
            height: 100%;
            border-radius: $border-radius--medium;
            background: $gradient--row-highlight;
        }
    }

    @media print {
        border-bottom: $border--medium-weight;
    }

    &>input, &>textarea {
        width: 100%;
        z-index: $z-index-1;
        background-color: $color-transparent;
        border: none;
        padding: 0rem $spacing--small;
        outline: none;
        position: relative;
        transition: $transition-duration--fast;
        resize: none;
        color: inherit;
    }

    &--number {
        position: relative;
        margin-top: $spacing--medium;
        border-radius: $border-radius--medium;
        transition: $transition-duration--fast;
        background-color: $color-primary--light;
        display: flex;
        align-items: center;

        &>input {
            color: $text;
            background-color: $color-primary--light;
            padding: 0;
            text-align: center;
            border-radius: $border-radius--medium;
        }

        &>label {
            position: relative;
            left: $spacing--medium;
            z-index: $z-index-2;
        }

        &:hover {
            box-shadow: $shadow--button-hover;
        }
    }

    &>input:not([type='number']), &>textarea {
        &:hover,
        &:active,
        &:focus {
            padding: 0 0.7rem;
        }

        &::placeholder {
            color: $text;
            opacity: $opacity--half;
        }
    }
}