@use '../../styles/variables.scss' as *;

.cmp-input {
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $bg;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $color-primary;
        transition: 0.3s;
    }

    &:hover,
    &:active,
    &:focus,
    &:focus-within {
        &::after {
            height: 100%;
            border-radius: 0.5rem;
            background-color: $color-primary--light;
        }
    }

    @media print {
        border-bottom: 2px solid $color-primary;
    }

    &>input, &>textarea {
        width: 100%;
        z-index: 1;
        background-color: transparent;
        border: none;
        padding: 0rem 0.3rem;
        outline: none;
        position: relative;
        transition: 0.3s;
        resize: none;
    }

    &--number {
        position: relative;
        margin-top: 0.5rem;
        border-radius: 0.5rem;
        transition: 0.3s;
        background-color: $color-primary--light;
        display: flex;
        align-items: center;

        &>input {
            color: $text;
            background-color: $color-primary--light;
            padding: 0;
            text-align: center;
            border-radius: 0.5rem;
        }

        &>label {
            position: relative;
            left: 0.5rem;
            z-index: 2
        }

        &:hover {
            box-shadow: $shadow--button-hover;
        }
    }

    &>input:not([type='number']), &>textarea {
        &:hover,
        &:active,
        &:focus {
            padding: 0 0.7rem;
        }

        &::placeholder {
        }
    }
}