@use '../../styles/variables.scss' as *;

.cmp-button {
    cursor: pointer;
    border-radius: $border-radius--pill;
    padding: 0.2rem 0.8rem;
    transition: $transition-duration--fast;
    text-wrap: nowrap;
    font-weight: $font-normal;
    border: $border--medium-weight;
    background-color: $color-primary;
    color: $text;

    &:hover, &:active, &:target, &:focus {
    background-color: $color-primary--light;
    color: $bg;
    border-color: $color-primary--light;
    box-shadow: $shadow--button-hover;
    z-index: $z-index-1;
    }

    &--primary {

    }

    &--secondary {
        background-color: $bg;
        color: $color-primary;

        &:hover {
            background-color: $color-primary--light;
            color: $bg;
        }
    }

    &--tertiary {
        background-color: $bg;
        color: $text;
        border-color: $bg;

        &:hover {
            border-color: $color-primary;
            background-color: $bg;
            color: $color-primary;
        }
    }

    &--warning {
        &:hover {
            background-color: $color-warning;
        }
    }

    &.active {
        background-color: $color-primary--light;
        color: $bg;
        border-color: $color-primary--light;
    }

    &--icon {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: $spacing--small;

        .cmp-button {
            &__icon,
            &__label {
                flex-shrink: 0;
            }
        }
    }
}