@import './variables.scss';

.cmp-app {
  background-color: $bg;
  color: $text;
  font-family: $font-family;
  max-width: $max-width;
  margin: 0 auto;
  padding-bottom: 3rem;
  
  & > * {
    padding-left: $page-padding;
    padding-right: $page-padding;
  }
}

.hints {
  margin-top: 1rem;
}

.no-print {
    @media print {
        display: none !important;
    }
}