@import './variables.scss';

body {
  background-color: $bg;
  color: $text;
}

.cmp-app {
  background-color: $bg;
  color: $text;
  font-family: $font-family;
  max-width: $max-width;
  margin: 0 auto;
  padding-bottom: 3rem;

  &>* {
    padding-left: $page-padding;
    padding-right: $page-padding;
  }
}

.no-print {
  @media print {
    display: none !important;
  }
}

.max-width {
  margin-left: calc((100% - 100dvw) / 2);
  margin-right: calc((100% - 100dvw) / 2);
  padding-left: calc((100dvw - 100%) / 2);
  padding-right: calc((100dvw - 100%) / 2);
}

.action-text {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $color-highlight;
  }
}