@use '../../styles/variables.scss' as *;

.cmp-card {
    display: flex;
    flex-direction: column;

    &__heading {
        font-weight: $font-bold;
    }

    &__contents {
    }

    &__ctas {
        display: flex;
        justify-self: flex-end;
        padding-top: $spacing--large;
        margin-top: auto;
    }

}