@import '../../styles/variables.scss';

.cmp-cpw {
    background-color: $color-primary;
    border-radius: $border-radius--large;
    padding: $spacing--medium $spacing--large;
    color: $bg;

    
    
    &__heading {
        font-weight: $font-bold;
    }

    &__inputs {
        color: $text;

        .cmp-input {
        display: flex;
        color: $text;

        &__input--number {
            color: inherit;
        }
        &::before, &::after {
            display: none;
        }
    }

    }

    &__cumulative-prob {
        display: flex;
        justify-content: center;
        font-weight: bold;
        border-top: $border--medium-weight--light;
        margin-top: $spacing--medium;
    }
}