@use '../../styles/variables.scss' as *;

.cmp-modal {
    max-height: 80dvh;
    overflow: auto;
    background-color: $modal-bg;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: $z-index-top;
    border-color: $text;
    border-radius: $border-radius--large;
    box-shadow: $shadow--button-hover;
    padding: 0;
    padding-top: $spacing--medium;
    margin: 0;
    transition: $transition-duration--fast;
    visibility: hidden;
    display: block;
    color: $text;
    width: 90dvw;
    
    @media screen and (min-width: 768px) {
        width: auto;
        min-width: 26rem;
        max-width: 80dvw;
    }

    p,
    li {
        margin-bottom: 0.5rem;
    }

    &__heading {
        display: flex;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        background-color: $modal-bg;
        padding-bottom: $spacing--medium;
    }

    &__title {
        font-size: $font-size--heading;
    }

    &__close {
        position: absolute;
        right: $spacing--medium;
        top: $spacing--medium;

        & .cmp-button__label {
            display: none;

            @media screen and (min-width: 768px){
                display: inline-block;
            }
        }
    }

    &__contents {
        margin-top: $spacing--large;
        max-height: 60dvh;
        overflow: auto;
        padding-bottom: $spacing--x-large;
        padding-left: $spacing--x-large;
        padding-right: $spacing--x-large;
        scrollbar-width: thin;
    }

    &--open {
        visibility: visible;
        transform: translate(-50%, -50%) scale(1);
    }

    &__backdrop {
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px) brightness(0.4);
        z-index: calc($z-index-top - 1);
        position: fixed;
        inset: 0;
        visibility: hidden;
        opacity: 0;
        transition: $transition-duration--fast;

        &--open {
            visibility: visible;
            opacity: 1;
        }
    }

    &__button-group {
        display: flex;
        justify-content: space-between;
        margin-top: $spacing--large;
        column-gap: $spacing--large;
    }
}