@use '../../styles/variables.scss' as *;

.cmp-modal {
    display: none;
    max-height: 80dvh;
    max-width: 80dvw;
    overflow: auto;
    background-color: $modal-bg;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: $z-index-top;
    border-color: $text;
    border-radius: $border-radius--large;
    box-shadow: $shadow--button-hover;
    padding: 0;
    padding-top: $spacing--medium;
    width: auto;
    margin: 0;

    &__heading {
        display: flex;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        background-color: $modal-bg;
        padding-bottom: $spacing--medium;
        color: $text;
    }

    &__title {
        font-size: $font-size--heading;
    }

    &__close {
        position: absolute;
        right: $spacing--medium;
        top: $spacing--medium;
    }

    &__contents {
        margin-top: $spacing--large;
        max-height: 60dvh;
        overflow: auto;
        padding-bottom: $spacing--x-large;
        padding-left: $spacing--x-large;
        padding-right: $spacing--x-large;
        scrollbar-width: thin;
    }

    &--open {
        display: block;
    }

    &__backdrop {
        background-color: rgba(0,0,0,0.1);
        backdrop-filter: blur(5px);
        z-index: calc($z-index-top - 1);
        position: fixed;
        inset: 0;
        display: none;

        &--open {
            display: block;
        }
    }

    &__button-group {
        display: flex;
        justify-content: space-between;
        margin-top: $spacing--large;
        column-gap: $spacing--large;
    }
}