@use '../../styles/variables.scss' as *;

.cmp-gallery {

    &__heading {
        display: flex;
        justify-content: center;
        padding: 0 0 $spacing--large;
        font-size: $font-size--heading;
    }

    &__contents {
        display: flex;
        gap: $spacing--large;
        flex-wrap: wrap;

        & > * {
            flex: 1 0 10rem;
        }
    }

}