.cmp-gallery {

    &__heading {
        display: flex;
        justify-content: center;
        padding: 0 0 1rem;
        font-size: 1.25rem;
    }

    &__contents {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;

        & > * {
            flex: 1 0 10rem;
        }
    }

}