@use '../../styles/variables.scss' as *;

.cmp-carousel {
    &__items {      
        & > * {
            display: none;
        }

        @for $i from 1 through 20 {
            &.selected-#{$i} {
                & > *:nth-child(#{$i}) {
                    display: block;
                }
            }
        }
    }

    &__header {

    }

    &__heading {
    }

    &__buttons {
        display: flex;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        background-color: $color-primary;
        // border: 3px solid $color-primary;
        border-radius: 5rem;
        flex-wrap: wrap;
        margin-top: 0.1rem;
    }

    &__warning {
        padding: 0 0.5rem;
    }
}