@use '../../styles/variables.scss' as *;

.cmp-carousel {
    &__items {      
        & > * {
            display: none;
        }

        @for $i from 1 through 20 {
            &.selected-#{$i} {
                & > *:nth-child(#{$i}) {
                    display: block;
                }
            }
        }
    }

    &__header {

    }

    &__heading {
    }

    &__buttons {
        display: flex;
        gap: $spacing--medium;
        padding: $spacing--medium $spacing--large;
        background-color: $color-primary;
        border-radius: $border-radius--pill;
        flex-wrap: wrap;
        margin-top: 0.1rem;
    }

    &__warning {
        padding: 0 $spacing--medium;
        color: $bg;
    }
}