@import '../../styles/variables.scss';

.cmp-checkbox {
    position: relative;
    color: $color-primary;
    
    &__checkbox {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;

        &:checked {
            +.cmp-checkbox {
                &__label {
                    .cmp-checkbox__checked-icon {
                        opacity: $opacity--visible;
                    }
                }
            }
        }
    }
    
    &__label {
        cursor: $cursor--pointer;
        display: flex;
        flex-direction: row;
        column-gap: $spacing--medium;
        align-items: center;
    }

    &::before {
        content: '';
        display: block;
        width: 1.25em;
        height: 1.25em;
        top: 50%;
        transform: translateY(-50%);
        border: $border--medium-weight;
        position: absolute;
        border-radius: $border-radius--small;
        z-index: $z-index-beneath;
    }

    &__checked-icon {
        transition: $transition-duration--fast;
        opacity: $opacity--transparent;
        margin-left: 0.12em;
    }

    &:hover {
        .cmp-checkbox {
            &__checked-icon {
                box-shadow: $shadow--button-hover;
            }
        }
    }
    &:focus, &:focus-within, &:focus-visible {
        .cmp-checkbox {
            &__checked-icon {
                box-shadow: $shadow--button-hover;
                outline: -webkit-focus-ring-color auto 1px
            }
        }
    }


    &--icon {

        &::before {
            content: none;
        }

        .cmp-checkbox {
            &__checkbox {
                width: 0;
                height: 0;
                opacity: 0;
                position: absolute;

                &:focus, &:focus-within, &:focus-visible {
                    +.cmp-checkbox {
                        &__label {
                            box-shadow: $shadow--button-hover;
                            outline: -webkit-focus-ring-color auto 1px;
                            .cmp-checkbox__checked-icon {
                                outline: none;
                                box-shadow: none;
                            }
                        }

                    }
                }

                &:checked {

                    &:focus, &:focus-within {
                        +.cmp-checkbox {
                            &__label {
                                background-color: $bg;
                            color: $color-primary;
                            }
                        }
                    }

                    +.cmp-checkbox {
                        &__label {
                        color: $bg;
                        background-color: $color-primary;
                        box-shadow: $shadow--checkbox-active;
                        transition: $transition-duration--fast;
                        
                        &:hover {
                            background-color: $bg;
                            color: $color-primary;
                        }
                        
                        &:active {
                            box-shadow: $shadow--button-hover;
                            
                        }

                        .cmp-checkbox__checked-icon {
                            opacity: $opacity--visible;
                        }
                    }
                }
                }
            }

            &__label {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                border: $border--medium-weight;
                border-radius: $border-radius--medium;
                transition: $transition-duration--fast;
                padding: $spacing--small;
                height: 100%;
                
                &:hover {
                    box-shadow: $shadow--button-hover;
                }
                
                &:active { 
                    box-shadow: $shadow--checkbox-active;
                    background-color: $color-primary;
                    color: $bg;

                    .cmp-checkbox__checked-icon {
                        opacity: $opacity--visible;
                    }
                }

                
            }

            &__checked-icon {
                position: absolute;
                top: 5%;
                right: 5%;
                filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.7));
                opacity: $opacity--transparent;
                transition: $transition-duration--fast;
            }
        }
    }
}