@use '../../styles/variables.scss' as *;

.cmp-sidebar {
    position: fixed;
    inset: 0;
    z-index: 10;
    transform: translateX(-100%);
    transition: 0.3s ease;
    background-color: $sidebar-bg;

    &--open {
        transform: translateX(0);
    }

    &__inputs {
        display: flex;
        flex-direction: column;
    }

    &__close {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}

.settings-menu {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem 0;

    &__heading {
        align-self: center;
        font-size: 1.5rem;

    }

    &__section {

        &__heading {
            margin-bottom: 0.5rem;
            font-weight: bold;
        }

    }

    &__options {
        display: flex;
        gap: 0.5rem 1rem;
        flex-wrap: wrap;
        padding-left: 1rem;
    }

    &__quick-setup {

    }

    &__dice {

    }

    &__examples {

    }

    &__misc {

    }
}