@use '../../styles/variables.scss' as *;

.cmp-sidebar {
    position: fixed;
    inset: 0;
    z-index: $z-index-sidebar;
    transform: translateX(-100%);
    transition: transform $transition-duration--fast;
    background-color: $sidebar-bg;
    visibility: hidden;

    &--open {
        transform: translateX(0);
        visibility: visible;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
    }

    &__close {
        position: absolute;
        top: $spacing--large;
        right: $spacing--large;
    }
}

.settings-menu {
    display: flex;
    flex-direction: column;
    row-gap: $spacing--large;
    padding: $spacing--large 0;

    &__heading {
        align-self: center;
        font-size: $font-size--title;

    }

    &__section {
        &__heading {
            margin-bottom: $spacing--medium;
            font-weight: bold;
        }

    }

    &__options {
        display: flex;
        gap: $spacing--medium $spacing--large;
        flex-wrap: wrap;
        padding: 0;
        padding-left: $spacing--large;
        border: none;

        &>div {
            flex: 1;
        }
    }
}