@use '../../styles/variables.scss' as *;

.cmp-roll-table {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    @media print {
        display: block;
    }

    &__cell {
        flex-grow: 0;
        border: none;
        border: 1px solid $text;
        display: flex;
        align-items: center;
        padding: 0.2rem 0.5rem;
    }

    &__row {
        display: flex;
        align-items: stretch;
        transition: background-color 0.3s;
        position: relative;

        &:nth-of-type(even) {
            // background-color: $color-gray--light;
        }

        &:hover {
            background-color: $color-highlight;
            background: linear-gradient(63deg, $color-primary--light, $color-highlight);

            .cmp-roll-table__button {

                &--move-up,
                &--move-down,
                &--delete {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }

        &--header {
            font-weight: bold;
            position: sticky;
            padding-bottom: 0.5rem;
            z-index: 1;
            align-items: flex-end;
            background: $bg;
            padding-top: 0.5rem;

            .cmp-roll-table__cell {
                border: none;
            }

            &:hover {
                background: $bg;
            }
        }
    }

    &__column {
        &--number {
            flex-basis: 5rem;
        }

        &--probability {
            flex-basis: 6rem;
        }

        &--value {
            flex-grow: 4;
        }

        &--buttons {
            display: flex;
            width: 0;
            overflow: hidden;
            transition: 0.3s;
        }
    }

    &__body {
        border: 3px solid $text;
        border-radius: 1rem;
        margin-top: 0.5rem;

        .cmp-roll-table {
            &__row {
                &:nth-of-type(1) {
                    border-top-left-radius: 0.8rem;
                    border-top-right-radius: 0.8rem;

                    .cmp-roll-table__cell {
                        border-top: none;
                    }
                }

                &:nth-last-of-type(1) {
                    border-bottom-left-radius: 0.8rem;
                    border-bottom-right-radius: 0.8rem;

                    .cmp-roll-table__cell {
                        border-bottom: none;
                    }
                }
            }

            &__cell {
                &:nth-child(1) {
                    border-left: none;
                }
            }

            &__input {
                border-right: none;
            }
        }
    }

    &__button {

        &--move-up,
        &--move-down {
            position: absolute;
            left: 50%;
            z-index: 1;
            opacity: 0;
            pointer-events: none;

            .cmp-button__icon {
                transform: rotate(90deg);
            }
        }

        &--move-up,
        &--move-down,
        &--delete {
            line-height: 1;
            box-shadow: 0.1rem 0.1rem 0.3rem rgba(0,0,0,0.3) inset; // not sold on this
        }

        &--move-up {
            top: 0;
            transform: translateY(-50%) scale(0.8);
        }

        &--move-down {
            bottom: 0;
            transform: translateY(50%) scale(0.8);
        }

        &--delete {
            position: absolute;
            left: 100%;
            top: 0;
            transform: translate(-80%, -50%) scale(0.8);
            opacity: 0;
        }
    }

    &__entry-count {
        white-space: nowrap;
    }

    &__table {
        margin-top: 1rem;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 0.3rem;

        &__menu {
            position: relative;

            &__dropdown {
                display: flex;
                flex-direction: column;
                display: none;
                row-gap: 0.3rem;
                position: absolute;
                right: 0;
                background-color: $bg;
                border-radius: 1rem;
                box-shadow: $shadow--button-hover;
                transform: translateY(0.5rem);
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    position: absolute;
                    bottom: 100%;
                    left: 0;
                    background-color: transparent;
                    height: 0.5rem;
                }
            }

            &:hover {
                .cmp-roll-table {
                    &__actions__menu {
                        &__dropdown {
                            display: flex;
                            padding: 0.5rem;
                        }
                    }
                }
            }
        }
    }

    &__input {
        background-color: transparent;
        resize: none;
        padding: 0.8rem;
        scrollbar-width: none;
    }

    &__heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin: 0 auto;
        row-gap: 1rem;

        &>* {
            width: 100%;
        }
    }

    &__title {
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 1.5rem;
    }

    &__description {}

    &__variance {
        display: flex;
        justify-content: center;

        &>p {
            width: fit-content;
        }
    }
}