@use '../../styles/variables.scss' as *;

.cmp-roll-table {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    @media print {
        display: block;
    }

    &__cell {
        flex-grow: 0;
        border: 1px solid black;
        display: flex;
        align-items: center;
        padding: 0.2rem 0.5rem;
    }

    &__row {
        display: flex;
        align-items: stretch;
        transition: background-color 0.3s;
        position: relative;

        &:nth-of-type(even) {
            background-color: $color-gray--light;
        }

        &:hover {
            background-color: $color-highlight;

            .cmp-roll-table__button {
                &--move-up,
                &--move-down,
                &--delete {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }

        &--header {
            font-weight: bold;
            background: white;
            position: sticky;
            border-bottom: 1px solid black;
            padding-bottom: 0.3rem;
            z-index: 1;

            .cmp-roll-table__cell {
                border-color: transparent;
            }

            &:hover {
                background: white;
            }
        }
    }

    &__column {
        &--number {
            flex-basis: 5rem;
        }

        &--probability {
            flex-basis: 6rem;
        }

        &--value {
            flex-grow: 4;
        }

        &--buttons {
            display: flex;
            width: 0;
            overflow: hidden;
            transition: 0.3s;
        }
    }

    &__button {
        &--move-up,
        &--move-down {
            position: absolute;
            left: 50%;
            z-index: 1;
            opacity: 0;
            pointer-events: none;

            .cmp-button__icon {
                transform: rotate(90deg);
            }
        }

        &--move-up {
            top: 0;
            transform: translateY(-50%) scale(0.8);
        }

        &--move-down {
            bottom: 0;
            transform: translateY(50%) scale(0.8);
        }

        &--delete {
            position: absolute;
            left: 100%;
            top: 0;
            transform: translate(-80%, -50%) scale(0.8);
            opacity: 0;
        }
    }

    &__entry-count {
        white-space: nowrap;
    }

    &__table {
        margin-top: 1rem;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 0.3rem;

        &__menu {
            position: relative;

            &__dropdown {
                display: flex;
                flex-direction: column;
                display: none;
                // column-gap: 0.5rem;
                // justify-content: flex-end;
                position: absolute;
                right: 0;
                // width: 0;
                // overflow: hidden;
                backdrop-filter: blur(10px);
                // transition: 0.3s;
                // z-index: 10;
            }

            &:hover {
                .cmp-roll-table {
                    &__actions__menu {
                        &__dropdown {
                            display: flex;
                            // width: auto;
                            padding: 0.5rem;

                        }

                        &-button {
                            // width: auto;
                            // column-gap: 0.5rem;
                            // border-radius: initial initial 0 0;

                            .cmp-button__label {
                                // width: auto;
                            }
                        }
                    }
                }
            }
        }
    }

    &__input {
        background-color: transparent;
        resize: none;
        padding: 0.8rem;
    }

    &__heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin: 0 auto;
        row-gap: 1rem;

        &>* {
            width: 100%;
        }
    }

    &__title {
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 1.5rem;
    }

    &__description {}

    &__variance {
        display: flex;
        justify-content: center;

        &>p {
            width: fit-content;
        }
    }
}