@use '../../styles/variables.scss' as *;

.cmp-roll-table {
    display: flex;
    flex-direction: column;
    row-gap: $spacing--large;

    @media print {
        display: block;
    }

    &__cell {
        flex-grow: 0;
        border: none;
        border: $border--light-weight--text;
        display: flex;
        align-items: center;
        padding: $spacing--x-small $spacing--medium;
    }

    &__row {
        display: flex;
        align-items: stretch;
        transition: $transition-duration--fast;
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            inset: 0;
            background: $gradient--row-highlight;
            z-index: $z-index-beneath;
            opacity: $opacity--transparent;
            transition: $transition-duration--fast;
            border-radius: inherit;
        }

        &:hover, &:focus-within {
            z-index: $z-index-1;

            &::before {
                opacity: $opacity--visible;
            }

            .cmp-roll-table__button {
                &--move-up,
                &--move-down,
                &--delete {
                    opacity: $opacity--visible;
                    pointer-events: auto;
                }
            }
        }

        &--header {
            font-weight: $font-bold;
            position: sticky;
            padding-bottom: $spacing--medium;
            padding-top: $spacing--medium;
            z-index: $z-index-2 !important;
            align-items: flex-end;
            background: $bg;

            &::before {
                content: none;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                background-color: $bg;
                height: 100%;
                width: 1rem;
                transform: translateX(100%);
                z-index: $z-index-beneath;
            }

            .cmp-roll-table__cell {
                border: $border--none;
            }

            &:hover {
                background: $bg;
            }
        }

        &.selected {
            background-color: $color-highlight;
            background: $gradient--row-highlight;
        }
    }

    &__column {
        &--number {
            flex-basis: 5rem;
        }

        &--probability {
            flex-basis: 6rem;
        }

        &--value {
            flex-grow: 4;
        }

        &--buttons {
            display: flex;
            width: 0;
            overflow: hidden;
            transition: $transition-duration--fast;
        }
    }

    &__body {
        border: $border--heavy-weight--text;
        border-radius: $border-radius--large;
        margin-top: $spacing--medium;

        .cmp-roll-table {
            &__row {
                &:nth-of-type(1) {
                    border-top-left-radius: 0.8rem;
                    border-top-right-radius: 0.8rem;

                    .cmp-roll-table__cell {
                        border-top: none;
                    }
                }

                &:nth-last-of-type(1) {
                    border-bottom-left-radius: 0.8rem;
                    border-bottom-right-radius: 0.8rem;

                    .cmp-roll-table__cell {
                        border-bottom: none;
                    }
                }
            }

            &__cell {
                &:nth-child(1) {
                    border-left: none;
                }
            }

            &__input {
                border-right: none;
            }
        }
    }

    &__button {
        &--move-up,
        &--move-down {
            position: absolute;
            left: 50%;
            z-index: $z-index-1;
            opacity: $opacity--transparent;
            pointer-events: none;

            .cmp-button__icon {
                transform: rotate(90deg);
            }
        }

        &--move-up,
        &--move-down,
        &--delete {
            line-height: 1;
            box-shadow: $shadow--row-action-button;
            background-color: $bg;
            transition: none;
        }

        &--move-up {
            top: 0;
            transform: translateY(-50%) scale(0.8);
        }

        &--move-down {
            bottom: 0;
            transform: translateY(50%) scale(0.8);
        }

        &--delete {
            position: absolute;
            left: 100%;
            top: 0;
            transform: translate(-80%, -50%) scale(0.8);
            opacity: 0;
        }
    }

    &__entry-count {
        white-space: nowrap;
    }

    &__table {
        margin-top: $spacing--large;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: $spacing--small;

        &__menu {
            position: relative;

            &__dropdown {
                display: flex;
                flex-direction: column;
                display: none;
                row-gap: $spacing--small;
                position: absolute;
                right: 0;
                background-color: $bg;
                border-radius: $border-radius--large;
                box-shadow: $shadow--button-hover;
                transform: translateY(0.5rem);
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    position: absolute;
                    bottom: 100%;
                    left: 0;
                    background-color: transparent;
                    height: 0.5rem;
                }
            }

            &:hover, &:focus, &:focus-within {
                .cmp-roll-table {
                    &__actions__menu {
                        &__dropdown {
                            display: flex;
                            padding: $spacing--medium;
                        }
                    }
                }
            }
        }
    }

    &__input {
        background-color: transparent;
        resize: none;
        padding: 0.8rem;
        scrollbar-width: none;
    }

    &__heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin: 0 auto;
        row-gap: $spacing--large;
        margin-top: $spacing--large;

        &>* {
            width: 100%;
        }
    }

    &__title {
        letter-spacing: 2px;
        font-weight: 600;
        font-size: $font-size--heading;
    }

    &__description {}

    &__roll-menu {
        position: relative;

        &:hover {
            .cmp-roll-table__roll-menu__container {
                padding-bottom: $spacing--medium;
                padding-top: $spacing--medium;
            }
                .cmp-roll-table__roll-menu__dice-rolls {
                    height: initial !important;
                }
            }

        &__container {
            position: absolute;
            top: 100%;
            right: 0;
            background-color: $bg;
            padding: $spacing--x-small $spacing--medium;
            border-radius: $border-radius--large;
            box-shadow: $shadow--button-hover;
            margin-top: $spacing--medium;
            transition: $transition-duration--fast;

            &:hover {
                .cmp-roll-table__roll-menu__close {
                    opacity: $opacity--visible;
                }
            }

            &::after {
                content: '';
                display: block;
                bottom: 100%;
                height: 0.5rem;
                position: absolute;
                left: 0;
                right: 0;
            }            
        }

        &__close {
            position: absolute;
            left: 100%;
            bottom: 100%;
            transform: translate(-50%, 60%) scale(0.8);
            opacity: 0;
        }

        &__heading {
            white-space: nowrap;
            text-align: center;
        }

        &__dice-rolls {
            display: flex;
            column-gap: $spacing--small;
            justify-content: space-evenly;
            height: 0 !important;
            overflow: hidden;
            transition: $transition-duration--fast;

            
        }

        &__die-roll {
            border: 1px solid $color-primary;
            padding: $spacing--x-small $spacing--medium;
            border-radius: $border-radius--small;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__die {
            border-bottom: $border--light-weight;
            font-size: $font-size--small;
        }
    }

    &__advanced-stats {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $spacing--x-large;

        .cmp-cpw {
            & + .cmp-roll-table__roll-stats {
                grid-column: 1/3;
                justify-self: center;
            }
        }
    }
}