@use '../../styles/variables.scss' as *;

.cmp-tooltip {
    opacity: 0;
    position: absolute;
    bottom: 100%;
    max-width: 30rem;
    background-color: $bg;
    animation-duration: $transition-duration--fast;
    animation-delay: 0.8s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding: $spacing--medium $spacing--large;
    border: $border--medium-weight;
    border-radius: $border-radius--small;
    transform: scale(0);
    transform-origin: bottom center;

    &__parent {
        position: relative;
        &:hover {
            .cmp-tooltip {
                animation-name: tooltipDisplay;
            }
        }
    }
}

@keyframes tooltipDisplay {
    from {
        opacity: $opacity--transparent;
        transform: scale(0);
    }
    to {
        opacity: $opacity--visible;
        transform: scale(1);
    }
}