@use '../../styles/variables.scss' as *;

.cmp-accordion {
    &__contents {
        overflow: hidden;
        transition: all $transition-duration--fast;
        margin-top: $spacing--large;
    }

    .cmp-button__icon {
        transition: $transition-duration--fast;
    }
    
    &--open {
        .cmp-button {
            &__icon {
                transform: rotate(180deg);
            }
        }
    }
}