@use '../../styles/variables.scss' as *;

.cmp-accordion {
    &__heading {
        cursor: pointer;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.3rem 0.5rem;
        border-radius: 5rem;
        background-color: $color-primary;
        transition: 0.3s;

        &:hover {
            background-color: $color-primary--light;
            box-shadow: $shadow--button-hover;
        }
    }

    &__contents {
        overflow: hidden;
        transition: 0.3s;
        margin-top: 1rem;
    }

    &__arrow {
        transition: 0.3s;
    }
    
    &--open {
        .cmp-accordion {
            &__arrow {
                transform: rotate(180deg);
            }
        }
    }
}